.menu{
	height:600px;
	width:200px;
	background-color:blue;
}


.button 
{
	margin-left:10%;
	margin-top:10%;
	height:10%;
	width:80%;
	background-image: linear-gradient(to bottom right, red, yellow);
}

.button:hover
{
	cursor:pointer;

}