.kontener{
}

.menu{
	float:left;
	background-color: green;
	height:10px;
	width:10%;
	
}

.srodek{float:left;
	background-color: blue;
	height:;
	width:;
}

.postac{float:left;
	background-color: yellow;
	height:;
	width:;
}

.plecak{float:left;
	background-color: red;
	height:;
	width:;
}