.tlo{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid;
	block-size: 100vh;
	background-color:#444;
	inline-size:100vw;
	justify-content: center;
}



.klasa{
	background-color: #ccc;
	height: 50%;
	width: 50%;
	border: 1px solid;
	background-color:#666;

}