.tlo{
	display: flex;
	flex-flow: column wrap;
	block-size: 98vh;
	background-color:#fff;
	inline-size:98vw;
	
}

.klasa1{
	height: 100%;
	width: 12%;
	background-color: #100705;
	font-size: 30px;
	padding-top:2%;

}

.klasa2{
	height: 100%;
	width: 68%;
	background-color: #666;
	/*background-image:url("../obrazy/karczma.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/

}

.klasa3{
	height: 50%;
	width: 20%;
	background-color:#f66;
	background-repeat: no-repeat;
	background-size: cover;
}

.klasa4{
	height: 50%;
	width: 20%;
	background-color:#100705;
}

.button 
{
	margin-left:10%;
	margin-top:10%;
	padding-top:6%;
	text-align:center;
	height:6%;
	width:80%;
	background-image: linear-gradient(to bottom right, blue, aqua);
}

.button:hover
{
	cursor:pointer;

}

.klasa2 .srodek1{
	width: 100%;
	height: 100%;
	display: block;
	/*background-image:url("obrazy/miasto.jpg");*/
	background-color: #00f;
}

.klasa2 .srodek2{
	width: 100%;
	height: 100%;
	display: none;
	background: url(obrazy/karczma.jpg) center/100% no-repeat;
	background-color: #0f0;
}

.klasa2 .srodek3{
	width: 100%;
	height: 100%;
	display: none;
	background: url(obrazy/kuznia.jpg) center/100% no-repeat;
	background-color: #f00;
}