.tlo{
	display: flex;
	flex-flow: column wrap;
	block-size: 98vh;
	background-color:#fff;
	inline-size:98vw;
	
}

.klasa1{
	height: 100%;
	width: 12%;
	background-color: #100705;
	font-size: 30px;
	padding-top:2%;

}

.klasa2{
	height: 100%;
	width: 68%;
	background-image:url("../obrazy/kuznia.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.klasa3{
	height: 50%;
	width: 20%;
	background-color:#f66;
	background-repeat: no-repeat;
	background-size: cover;
}

.klasa4{
	height: 50%;
	width: 20%;
	background-color:#100705;
}

.button 
{
	margin-left:10%;
	margin-top:10%;
	padding-top:10%;
	text-align:center;
	height:7%;
	width:80%;
	background-image: linear-gradient(to bottom right, blue, aqua);
}

.button:hover
{
	cursor:pointer;

}